# =========================
# Environment
# =========================
.env
.env.*

# Virtual Environment
venv/
.venv/

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# VS Code
# =========================
.vscode/

# =========================
# macOS
# =========================
.DS_Store

# =========================
# Logs
# =========================
*.log

# =========================
# Build
# =========================
dist/
build/

# =========================
# Streamlit
# =========================
.streamlit/secrets.toml

dlib-*.whl

workflow.txt
